.categories {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: azure;
    margin: 1rem;
    width: 20rem;
    height: 8rem;
    border: 0.1rem solid  #006699;
    margin-top: 0;
}

.parentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
   flex-wrap: wrap;
}

#category{
    color: palevioletred;
    border: 1.5px solid palevioletred;
    font-size: 1.3rem;
    padding: 0.3rem;
    margin: 1rem;
    width: 95%;
}