.parentOfBookDivs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bookDivs{
    background-color: azure;

}

.bookCategoriesDivs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2rem 0 2rem;
}